.DS_Store
*.swp
.vim/yank.*
.vimperator/info/*
.vim/bin/*
.vim/spell/*
.vim/*.txt
.vim/README*
.emacs.d/ac-comphist.dat
.emacs.d/.*
.emacs.d/bookmarks
.emacs.d/swank/*
.emacs.d/url/*
.emacs.d/session*
.emacs.d/eshell
.emacs.d/init.d/disabled/*
.emacs.d/woman_cache.el
.emacs.d/org-clock-save.el
