[user]
  name = Lee Hinman
  email = lee@writequit.org
  signingkey = 3ACECAE0

[core]
  excludesfile = /Users/hinmanm/.gitignore

[color]
  ui = auto

[alias]
  co = checkout
  cob = checkout -b
  cot = checkout -t
  count = shortlog -sn
  st = status -sb
  stat = status -sb
  status = status -sb
  unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  l = log --pretty="format:'%C(yellow)%h %C(red)%G? %C(blue)%aN%C(reset)  %s'" --show-signature
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  rips = rebase -i -p -s subtree
  headless = !sh -c 'git symbolic-ref HEAD refs/heads/$0 && rm .git/index && git clean -fdx'
  vtags = !sh -c 'git tag -l | xargs git tag -v'
  ver = "!git log --pretty=format:'%ai %h' -1 | perl -pe 's,(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d) (\\d\\d):(\\d\\d):(\\d\\d) [^ ]+ ([a-z0-9]+),\\1\\2\\3+\\7,'"
  pr = "!f() { git fetch origin pull/$1/head:pr/$1; }; f"
  sync = annex sync

[github]
  user = dakrone
  token = !cat ~/.github.token
  oauth-token = !cat ~/.github.oauth-token

[rerere]
  enabled = 1

[diff "clojure"]
  xfuncname = "^\\(.*"

[push]
  default = tracking

[ghi]
  token = !cat ~/.github.token
[annex]
	genmetadata = true
[diff]
	algorithm = patience
