[user]
  name = Lee Hinman
  email = lee@writequit.org

[core]
  pager = less -FRSX
  editor = nano
  excludesfile = /Users/hinmanm/.gitignore

[color]
  ui = auto

[merge]
  tool = vimdiff

[alias]
  co = checkout
  cob = checkout -b
  cot = checkout -t
  st = status
  stat = status
  unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  rips = rebase -i -p -s subtree
  headless = !sh -c 'git symbolic-ref HEAD refs/heads/$0 && rm .git/index && git clean -fdx' 

[github]
  user = dakrone
  token = !cat ~/.github.token

[rerere]
  enabled = 1

[diff "clojure"]
  xfuncname = "^\\(.*"

[push]
  default = tracking
