.DS_Store
*.swp
.vim/yank.*
.vimperator/info/*
.vim/bin/*
.vim/spell/*
.vim/*.txt
.vim/README*
.emacs.d/ac-comphist.dat
.emacs.d/.*
.emacs.d/swank/*
.emacs.d/url/*
.emacs.d/session*
.emacs.d/eshell
.emacs.d/init.d/disabled/*
.emacs.d/woman_cache.el
.emacs.d/org-clock-save.el
.emacs.d/flycheck*
.emacs.d/semanticdb
.emacs.d/ede-projects.el
.emacs.d/srecode-map.el
.emacs.d/projectile-bookmarks*
.emacs.d/projectile.cache
.emacs.d/elfeed*
.emacs.d/mail
.emacs.d/savehist
.emacs.d/games
.emacs.d/dired-desktop
.emacs.d/settings.el
.emacs.d/image-dired
.emacs.d/abbrev_defs
.emacs.d/bookmarks
.emacs.d/smex*
.emacs.d/recentf
